@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto condensed, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}
h1 h2 {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
    text-transform: capitalize;
    letter-spacing: 3px;
}

img {
	max-width: 100%;
}

/* menu styling */
#menu {
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
}

/* menu remove hyperlinks underline */
#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #2f4f4f;
}

#menu li {
    margin-bottom: 10px;
    list-style-type: none;
    list-style: none;
}

/* hero image overlay text styling */
#hero-text, #hero-text h2 {
    color: #ffffff;
}

/* hero image styling  */ 
#hero-image {
    background: url(../images/vitaminception-main.png) no-repeat center center;
    max-width: 100%;
    display: block;
    height: 200px;
}

#hero-text {
    font-size: 120%;   
    font-family: roboto condensed, sans-serif;
    height: 75px;
    width: 50%;
    background-color: rgba(155, 152, 152, 0.7);
    text-transform: capitalize;
    padding-top: 5px;
    padding-left: 20px;
    bottom: 1px;
    right: 10px; 
    position:absolute;
}

#vitamin-circle-container {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto; 
}

#vitamin-circle-cover-bg {
    background: url('../images/pexels-anastasia-tooming-11105320.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#vitamin-stats > h2 {
    text-align: center;
}

#vitamin-stats li {
    text-align: center;
}

footer {
    height: 150px;
}

#social-networks {
    text-align: center;
}

#social-networks li {
    list-style-type: none;
    list-style: none;    
}

#social-networks li > a {
    text-decoration: none;
    color: inherit;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* desktop view styling */
@media screen and (min-width: 600px) {
    #menu, #logo {
        line-height: 200px;
    }
    #menu a:hover {
        border-bottom: 1px solid #2f4f4f;
    }
    #logo {
        float: left;
        width: 200px;
        height: 200px;
    }
    #menu li {
        float: right;
        list-style-type: none;
        list-style: none;
        margin-right: 30px;
    }

    #hero-image {
        height: 400px;
        width: 100%;
    }

    #hero-text {
        font-size: 150%;   
        font-family: roboto condensed, sans-serif;
        height: 100px;
        width: 300px;
        background-color: rgba(236, 236, 236, 0.5);
        text-transform: capitalize;
        padding-top: 30px;
        padding-left: 100px;
        bottom: 250px;
        right: 400px;
        position: absolute;
    }
}
