@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto condensed, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}
h1 h2 {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
    text-transform: capitalize;
    letter-spacing: 3px;
}

/* menu styling */
#menu {
    text-align: right;
    font-size: 120%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 200px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2f4f4f;
}

.active {
    border-bottom: 1px solid #2f4f4f;
}

#logo {
    float: left;
}

#menu li {
    float: right;
    list-style-type: none;
    list-style: none;
    margin-right: 30px;
}

/* hero image overlay text styling */
#hero-text, #hero-text h2 {
    color: #ffffff;
}

/* hero image styling  */ 
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url(../images/vitamin-wall-courtesy-ivcinc.webp) no-repeat center center;
    height: 600px;
    width: 100%;
}

#hero-text {
    font-size: 150%;   
    font-family: roboto condensed, sans-serif;
    height: 100px;
    width: 300px;
    background-color: rgba(236, 236, 236, 0.5);
    text-transform: capitalize;
    padding-top: 30px;
    padding-left: 100px;
    bottom: 250px;
    right: 400px;
    position: absolute;
}

